{
  "token": "",
  "youtubeVideo": "https://youtube.com",
  "inviteURL": "https://minecraftimagebot.glitch.me/invite",
  "tosURL": "https://minecraftimagebot.glitch.me/tos",
  "rulesURL": "https://minecraftimagebot.glitch.me/rules",
  "websiteAuth": "",
  "cacheChannel": "",
  "GOFILETOKEN": "",
  "supportURL": "https://minecraftimagebot.glitch.me/support",
  "webpageURL": "https://minecraftimagebot.glitch.me",
  "avatarURL": "https://cdn.discordapp.com/avatars/740308839294828575/a53b6b768ed904f9446bbd870822d624",
  "downloadURL": "https://minecraftimagebot.glitch.me/downloadimg?url="
}
